{% extends 'layout.html.twig' %}

{% block title %}
    Stránka nenalezena
{% endblock %}

{% block banner %}
    <h1>Stránka nenalezena</h1>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/">Vyhledávání</a></li>
    <li>Stránka nenalezena</li>
{% endblock %}

{% block content %}
    <p>Pokud jste přesvědčeni, že by tato stránka měla existovat. Kontaktujte administrátora na <a href="mailto:info@mujweb.cz">info@mujweb.cz</a>.</p>
{% endblock %}
