{% extends 'layout.html.twig' %}

{% block title %}
    Stránka nenalezena
{% endblock %}

{% block banner %}
    <h1>Problém na naší straně</h1>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="?">Vyhledávání</a></li>
    <li>Problém na naší straně</li>
{% endblock %}

{% block content %}
    <p>Velice se omlouváme, ale máme problém. Kontaktujte prosím administrátora na <a href="mailto:info@mujweb.cz">info@mujweb.cz</a>, děkujeme.</p>
{% endblock %}
