{% extends 'layout.html.twig' %}


{% block content %}
        <form id="searchform" action="{{ path('employee_list') }}">
            <label for="search"></label>
            <input type="search" id="search" name="search" placeholder="např. Jan Novák">
            <button type="submit"></button>
        </form>
{% endblock %}