<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Evidence zaměstnanců">
    <meta name="author" content="Michal Konecny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title 'Evidence zaměstnanců'|title %}</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css">
    <link rel="stylesheet" href="/css/print.css" type="text/css">
</head>
<body>

<header>
    {% block banner %}
        <h1>Evidence zaměstnanců</h1>
    {% endblock %}
    <nav>
        <ol>
            {% block breadcrumbs %}
                <li id="current">Vyhledávání</li>
            {% endblock %}
        </ol>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <footer id="autheticated">
        <dl>
            <dt>Email:</dt>
            <dd>{{ app.user.email }}</dd>
            <dt>Platnost:</dt>
            <dd>
                {% if app.user.validity != null %}
                    {{ app.user.validity|date("d.m.Y") }}
                {% else %}
                    Permanentní účet
                {% endif %}
            </dd>
            <dt>Role:</dt>
            <dd>
                {% for role in app.user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        Admin
                    {% else %}
                        Uživatel
                    {% endif %}
                {% endfor %}
            </dd>
        </dl>
        <a href="{{ path('app_logout') }}">Odhlásit se</a>
    </footer>
    {% else %}
    <footer>
        <a href="{{ path('app_login') }}">Přihlášení</a>
    </footer>
    {% endif %}


</body>
</html>